{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
<div class="col-sm-4">
<h4 class="text center alert alert-info"> add new student</h4>
<form action="" method="POST">
{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success" value="add">
<a href="{% url 'addandshow'%}" class="btn btn-info">Back to Home</a>
</form>
</div>

  <div class="col-sm-7 offset-1">
    <h4 class="text center alert alert-info"> SHOW STUDENT INFORMATION</h4>
    {% if stu %}
    <table class="table table-hover">
<thead>
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
{%for st in stu%}
        <tr>
        <th scope="row">{{st.id}}</th>
        <td>{{st.name}}</td>
        <td>{{st.email}}</td>
        <td>{{st.password}}</td>
        <td>
         <a href = "{% url 'updatedata' st.id %}" class="btn btn-warning btn-sm">Edit</a>
         <form action="{% url 'deletedata' st.id %}" method="post" class="d-inline">
              {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="delete">
            </form>
            </td>
            </tr>
        {% endfor %}
</tbody>
</table>
    {% else %}
    <h4"text center alert alert-warning">TABLE DATA</h4
    <h4>TABLE DATA</h4>
           {% endif %}
        </div>
        {% endblock content %}