<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale= 1.0>
    <title>CRUDPROJECT-API</title>
    <link rel = "stylesheet" href = "{% static 'enroll/css/bootstrap.css'%}"
</head>
<body>
    <div Class="container mt-5">
    <h2 Class="text-center alert alert-danger"> CRUDPROJECT</h2>
    {% block content %} {% endblock content %}
     </div>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>